<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/date-fns"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>


</head>
<body>
<h1>Account Statistics</h1>
<div>
    <p>Starting Capital: <span th:text="${context.account.initialCapital}"></span></p>
    <p>Current Capital: <span th:text="${context.account.currentCapital}"></span></p>
    <p>Total Profit: <span th:text="${context.analytics.totalReturn}"></span></p>
    <p>Total Return: <span th:text="${context.analytics.totalReturnAsPercentage}"></span>%</p>
    <p>Sharpe Ratio: <span th:text="${context.analytics.sharpeRatio}"></span></p>
</div>

<h2>Account State Over Time</h2>
<canvas id="accountValueChart" width="400" height="200"> </canvas>

<script th:inline="javascript">
        /*<![CDATA[*/
        var ctx = document.getElementById('accountValueChart').getContext('2d');

        var states = /*[[${states}]]*/ [];
        var benchmark = /*[[${benchmark}]]*/ [];

        console.log(states); // Debugging: Log the states to ensure data is being passed correctly
        console.log(benchmark); // Debugging: Log the benchmark data to ensure it is being passed correctly

        var stateLabels = states.map(state => new Date(state.currentTime.replace(/-/g, '/')));
        var stateData = states.map(state => state.currentAccountValue);

        var benchmarkLabels = benchmark.map(entry => new Date(entry.datetime));
        var benchmarkData = benchmark.map(entry => entry.close);

        console.log(stateLabels); // Debugging: Log the dates to ensure they're being parsed correctly
        console.log(stateData); // Debugging: Log the values to ensure they're correct
        console.log(benchmarkLabels); // Debugging: Log the benchmark dates
        console.log(benchmarkData); // Debugging: Log the benchmark values

        var accountValueChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: stateLabels,
                datasets: [
                    {
                        label: 'Account Value',
                        data: stateData,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Benchmark',
                        data: benchmarkData,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        fill: false
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day'
                        },
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Value'
                        }
                    }
                }
            }
        });
        /*]]>*/
    </script>

</body>
</html>
